<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1 style="color: rgba(162, 99, 220, 0.961);">Welcome To FlaskLand</h1>
    <p style="color: deeppink;"> Halo, Selamat Datang! semoga harimu menyenangkan </p>
    <input type="text">
    <button style="width: 800px; height: 30px; background-color: rgb(29, 182, 126); color: rgb(244, 243, 242); border-radius: 30
    px;">Back home</button>
</body>
</html>

